{% extends '_base.html' %}

{% block content %}
<main class="container py-5 text-center">
    <h1 class="mb-4"><strong>Detalhes do Setor - {{ setor.nome }}</strong></h1>
    <p class="lead">Localização: {{ setor.localizacao }}</p> 

    <div class="mt-4">
        {% if perms.setor.change_setor %}
            <a href="{% url 'setor:update' setor.id %}" class="btn btn-primary me-3">Editar Setor</a> {# Botão azul #}
        {% endif %}
        <a href="{% url 'setor:read' %}" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</main>
{% endblock %}